@{
    ViewBag.Title = "About the NVT";
}
<h2>The Non-Violence Test</h2>
<p>
    The Nonviolence test (NVT) was developed by Dr. Vinod K Kool and Dr Manisha Sen.
</p>

<div class="well">
    <h4>Contents of the test</h4>
    <p>
        The test consists of 65 questions designed to address every aspect of nonviolence to build a final nonviolence score.
        A score, out of 36, is given based on the number of nonviolent answers given during the test. Some questions are filler questions
        and their answers are not counted in the final score.
    </p>
</div>
<div class="well">
    <h4>Validity of the NVT</h4>
    <p>The NVT was tested against several other Nonviolence tests to measure its reliability and validity. </p>
    <p>
        Further information regarding the validity of the test can be found in <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3705688/#sec1-2title">this study</a>
        or in Dr Kool's textbook, <a href="http://www.amazon.com/Psychology-Non-violence-Aggression-VK-Kool/dp/0230545548">The Psychology of Non-violence and Aggression. </a>
    </p>
</div>
