<<<<<<< HEAD
﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Garrett Musto";
}

<h2>About the Developer</h2>
<div class="well">
    <p>This website, the digital version of the NVT is developed and maintained by Garrett Musto, a student of Computer and Information Science at SUNY Polytechnic Institute.
     He is pursuing a Bachelor of Science degree, specializing in Software Engineering with personal interest in mobile and desktop application development.
    </p>
    <p>His resume is available <a href="~/Resume.pdf">here</a> and can be contacted by email <a href="mailto:mustog@sunyit.edu" target="_top">here.</a></p>

=======
﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Garrett Musto";
}

<h2>About the Developer</h2>
<div class="well">
    <p>This website, the digital version of the NVT is developed and maintained by Garrett Musto, a student of Computer and Information Science at SUNY Polytechnic Institute.
     He is pursuing a Bachelor of Science degree, specializing in Software Engineering with personal interest in mobile and desktop application development.
    </p>
    <p>His resume is available here and can be contacted by email here.</p>

>>>>>>> origin/dev
</div>