@{ 
    ViewBag.Title = "The Official NVT Website";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>The Non-violence Test</h1>
            <p>
                The Non-violence Test (NVT), created by Dr. Vinod K Kool was designed to measure a person's orientation towards
                nonviolence. The test consists of 65 questions. This computerized version of the NVT was created by Computer 
                and Information Science student Garrett Musto.
            </p>
            <p>
                <a role=button class="btn btn-primary btn-lg" asp-controller="NVT" asp-action="Index">Take the Test</a>
            </p>
        </div>
    </div>
</div>