@{ 
    ViewBag.Title = "The Official NVT Website";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>The Non-violence Test</h1>
            <p>
                The Non-violence Test, created by Dr. Vinod K Kool was designed to measure a person's tendency
                to act non-violently. The test consists of 65 questions. A total non-violent score, with a maximum
                of 36, will be calculated based on your answers.
            </p>
            <p>
                <a role=button class="btn btn-primary btn-lg" asp-controller="NVT" asp-action="Index">Take the Test</a>
            </p>
        </div>
    </div>
</div>