@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Professor Vinod K. Kool";
}

<div>
    <h3>About Dr. Kool</h3>
    <p>
        Vinod K. Kool is a professor of Psychology at SUNY Polytechnic Institute. He has been awarded the Fulbright award 3 times as
        of Spring 2016. He has authored multiple textbooks on social psychology.
        <br />
        <br />
        Some texts and publications authored by V.K. Kool:
        <ul>
            <li>
                <a href="https://he.palgrave.com/page/detail/?sf1=barcode&st1=9780230545540">Psychology of Nonviolence and Aggression. Macmillan-Palgrave Publishers USA &amp; UK, Kool, V.K. (2008) </a>
            </li>
            <li>
                <a href="https://books.google.com/books/about/Nonviolence.html?id=cFfaAAAAIAAJ">Nonviolence: Social and Psychological Issues. Kool, V.K.(1993) University Press of America: Lanham, MD</a>
            </li>
            <li>
                <a href="https://books.google.com/books?id=iXnZBQAAQBAJ&dq=perspectives+on+nonviolence&source=gbs_navlinks_s">Perspectives on Nonviolence. Kool, V.K. (1990) Springer-Verlag: New York</a>
            </li>
        </ul>
    </p>
</div>
