@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Professor Vinod K. Kool";
}

<div>
    <h3>About Dr. Kool</h3>
    <p>
        Vinod K. Kool is a professor of Psychology at SUNY Polytechnic Institute. He has been awarded the Fulbright award 3 times as
        of Spring 2016. He has authored multiple textbooks on social psychology.
    </p>
</div>
