@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Professor Vinod K. Kool";
}

<div>
    VK Kool is cool
</div>
