/*Main style sheet for all web pages*/

body{
    font-family:sans-serif;
<<<<<<< HEAD
    font-size: 18px;
=======
    font-size: 14px;
>>>>>>> refs/remotes/origin/master
}

label{
    font-weight: bold;
}

input{
    width: 150px;
<<<<<<< HEAD
}
=======
}
>>>>>>> refs/remotes/origin/master
