@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The Non-Violence Test";
}
<script src="~/ts/NVController.js"></script>
<link rel="stylesheet" href="~/css/testStyle.css" />

<div class="nvtContainer" ng-controller="NVController as test">
    <div class="well well-lg">
        Remember to answer the questions as truthfully as possible.
    </div>
    <div class="well">
        {{test.Question.questionNumber}}. {{test.Question.questionText}}
        <hr />
        <br />
        <div class="list-group">
            <i  ng-show="test.isBusy" class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" ng-class="{'fa-pulse' : test.isBusy}"></i>
            <a  ng-hide="test.isBusy" class="list-group-item" ng-click="test.answeredQuestion(1)">1.{{test.Question.firstChoice}}</a>
            <a ng-hide="test.isBusy" class="list-group-item" ng-click="test.answeredQuestion(2)">2.{{test.Question.secondChoice}}</a>
        </div>
    </div> 
    Progress: {{test.Question.questionNumber}}/65
    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: {{(test.Question.questionNumber/65)*100}}%"></div>
    </div>
</div>