@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="nvtContainer">
    <div class="well well-lg">
        Remember to answer the questions as truthfully as possible.
    </div>
    <div class="well">
        (Question Number) (Question)
        <ol>
            <li>Choice 1</li>
            <li>Choice 2</li>
        </ol>
    </div> 
</div>