@{
    ViewBag.Title = "The Non-Violence Test";
}
<script src="~/ts/NVController.js"></script>
<link rel="stylesheet" href="~/css/testStyle.css" />

<div class="nvtContainer" ng-controller="NVController as test">
    <div class="well well-lg">
        <p>
            For each question, two choices will be presented. Please read the question, then the choices, and select which
            answer best fits how you would react or think in the given situation.
            <br />
            Click on the answer you wish to submit. Your answers will be shown to nobody else and you will remain completely anonymous.
            No personal information is required to retrieve your score. The test can be exited at any time.
        </p>

    </div>
    <div class="well">
        {{test.Question.questionNumber}}. {{test.Question.questionText}}
        <hr />
        <br />
        <div class="list-group">
            <i  ng-show="test.isBusy" class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" ng-class="{'fa-pulse' : test.isBusy}"></i>
            <a  ng-hide="test.isBusy" class="list-group-item" ng-click="test.answeredQuestion(1)">1.{{test.Question.firstChoice}}</a>
            <a ng-hide="test.isBusy" class="list-group-item" ng-click="test.answeredQuestion(2)">2.{{test.Question.secondChoice}}</a>
        </div>
    </div> 
    Progress: {{test.Question.questionNumber}}/65
    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: {{(test.Question.questionNumber/65)*100}}%"></div>
    </div>
</div>