@{
    ViewBag.Title = "NVT Results";
}

<div ng-controller="resultsController as vm">
    <div class="jumbotron">
        <h2>Results</h2>
        <h4>Non-Violence Score: </h4>
        <p>With a maximum possible score of 36, you scored a {{vm.score}}.</p>
        <p>
            For a simple external validation test, we administered this test to a group of Buddhists and Quakers in Wisconsin,
            USA and a group of delinquent adolescents in a residential facility also in Wisconsin. Their NVT scores were 31.86 and 19.83, respectively.
        </p>
    </div>
    <div class="well well-lg">

    </div>
</div>