<link rel="stylesheet" href="~/css/survey.css" />

<div ng-controller="resultsController as vm">

    <div class="well well-lg">
        <h3>The test is complete</h3>
<<<<<<< HEAD
        <p>You have completed the NVT. <br />Your results are available to you now. If you prefer, enter your gender for use
        in collecting statistical information.</p>
        <p>
            Only your score and gender will be recorded and stored.  No personal/identifiable information will be recorded
            and your score will remain completely anonymous.
            <br />
            You do not have to respond here and you can click "skip" below. You will receive your score regardless.
=======
        <p>You have completed the NVT. Your results are available to you now. If you would like, enter your gender for use
        in collecting statistical information.</p>
        <p>
            Only your score and gender will be recorded and stored.  No personally identifiable information will be recorded
            and your score will remain completely anonymous.
            <br />
            If you would like to skip this step, please click skip. You will receive your score regardless.
>>>>>>> origin/dev
        </p>
    </div>

    <form novalidate name="newResultForm" class="form-horizontal" ng-submit="vm.addResult()">

        <div class="form-group">
            <div class="col-lg-12 col-lg-offset-2">
                <label for="gender">Gender</label>
                <select class="form-control" required name="gender" ng-model="vm.newResult.gender"
                        
                        ng-options="gender.name for gender in vm.genderOptions">
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Reset</button>
                <button ng-disabled="newResultForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
                <button type="button" ng-click="vm.skipSurvey()" class="btn btn-info">Skip</button>
            </div>
        </div>
    </form>
</div>